.app {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    padding: 5px 20px;
}

.addTodolistForm {
    width: 100%;
}

.todolists {
    display: flex;
    gap: 20px;
}

.task {
    list-style: none;
}
